$navbar-height: 80px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.App {
    background-color: #282c34;
    display: flex;
    font-size: 2vmin;
    color: white;
}

.container {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    margin: 20px;
    margin-top: 0;
    max-width: 1440px;

    padding-top: $navbar-height;
}

a {
    text-decoration: none;
    color: #61dafb;

    border: 1px solid #61dafb;
    padding: 10px;

    display: inline-block;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #61dafb;
        color: #0f1114;
    }
}

a.active {
    background-color: #61dafb;
    color: #0f1114;

    &:hover {
        background-color: #0f1114;
        color: #61dafb;
    }
}

.link_container {
    display: flex;
}

.link_container > a {
    margin: 10px;
    margin-left: 0;
}

h1 {
    font-size: 3rem;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

h2 {
    font-size: 2rem;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

h3 {
    font-size: 1.5rem;
    color: #61dafb;
    background-color: #0f1114;

    padding: 10px;
}

pre > code {
    font-size: 2vmin !important;
}

span {
    color: #61dafb;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $navbar-height;
    background-color: #0f1114;
    z-index: 100;
    transition: top 0.3s;

    padding-left: 20px;

    display: flex;
    align-items: center;
}

.navbar--hidden {
    top: -$navbar-height;
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 0;
    }
    .navbar {
        display: none;
    }
}
